{% extends 'base.html' %}

{% block content %}
<h1 class="success">Information saved successfully!</h1>

<div>
    <h2>Your FromSoft Games Data</h2>
    <p>Your name is <strong>{{name}}</strong>.</p>
    <p>You have played <strong>{{fromAmount}}</strong>, or <strong>{{fromNumber}}</strong> FromSoft games!</p>
    <p>Your favorite weapon is <strong>{{weapon}}</strong>!</p>
    <p>Your preferred playstyle is <strong>{{playstyle}}</strong>!</p>

<a href="{{url_for('page3')}}">Take another survey?</a>
</div>

<div>
<a href="{{url_for('home')}}">Or go back to Home!(There's nothing there....)</a>
</div>


{% endblock %}