<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask forms demo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <ul class="navbar">
        <li><a href="{{ url_for('page1') }}">Favorite Movie Survey</a></li>
        <li><a href="{{ url_for('page2') }}">Video game rater</a></li>
        <li><a href="{{ url_for('page3') }}">FromSoft Games Approval</a></li>
    </ul>

    {% block content %}
    {% endblock %}
    
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>