{% extends "base.html" %}

{% block content %}

<h2>JJ's FromSoft Games Approval</h2>

<form method="POST">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" id="name" required>
    </div>
        <label for="fromAmount">Which FromSoft games have you played?</label>
    <div>
        <input type="checkbox" name="fromAmount">Demon Souls</input>
    </div>
        <input type="checkbox" name="fromAmount">Dark Souls 1</input>
    </div>
    <div>
        <input type="checkbox" name="fromAmount">Dark Souls 2</input>
    </div>
    <div>
        <input type="checkbox" name="fromAmount">Dark Souls 3</input>
    </div>
    <div>
        <input type="checkbox" name="fromAmount">Bloodborne</input>
    </div>
    <div>
        <label for="weapon">Favorite Weapon: </label>
        <input type="text" id="weapon" id="weapon" required>
    </div>
    <div>
        <label for="playstyle">Favorite playstyle?</label>
        <select name="playstyle" id="playstyle">
            <option value="">What is your favorite playstyle in FromSoft games?</option>
            <option value="str">Strength build</option>
            <option value="dex">Dexterity build</option>
            <option value="int">Intelligence build</option>
            <option value="fth">Faith build</option>
            <option value="hyb">Hybrid build</option>
        </select>
    </div>

    <button type="submit">Save Data</button>
</form>

{% endblock %}